{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Visualfolio
        {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'main/img/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="300x300" href={% static 'main/img/favicon-300x300.png' %}">
    <meta name="robots" content="noindex">
    {% block extrahead %}
    {% endblock extrahead %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script>
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
       }

       function setCookie(name, value) {
          document.cookie = `${name}=${value}; path=/; domain=.visualfol.io; Secure; SameSite=Strict`;
       }

       const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
       function detectSystemTheme() {
          if (prefersDarkScheme.matches) {
             return 'dark';
          } else {
             return 'light';
          }
       }

       function applyCookieTheme() {
          let theme = getCookie('theme');
          if (theme === 'dark') {
             document.documentElement.classList.add('dark');
          } else if (theme === 'light') {
             document.documentElement.classList.remove('dark');
          }
       }

       // Initialize theme
       (function () {
          let theme = getCookie('theme');
          if (!theme) {
             detectedTheme = detectSystemTheme();
             setCookie('theme', detectedTheme);
             applyCookieTheme();
          }
          else { applyCookieTheme(); }
       })();
    </script>
</head>
<body class="flex bg-(--first-bg-color) min-h-screen select-none">
    <div class="desktop-only-message min-h-screen w-full relative">
        <div class="inset-0 absolute flex items-center justify-center">
            <div class="text-(--third-text-color) rounded-xl bg-(--third-bg-color) px-3 py-2 m-12">
                Visualfolio is currently available only for larger screens.
            </div>
        </div>
    </div>
<div class="wrapper flex h-full">
    <div
            class="text-xxs px-1.5 text-yellow-800 dark:text-yellow-800 bg-yellow-300 dark:bg-yellow-200 opacity-50 border border-yellow-500 dark:border-yellow-500 rounded-md fixed top-1 z-20 flex items-center justify-center left-1/2 transform -translate-x-1/2 whitespace-nowrap">
        Notice: this is a demo account, underlying market data may not reflect real-time conditions as it may be shifted
        in time.
    </div>

    <button id="theme-toggle"
            class="theme-toggle h-10 w-10 bg-(--second-text-color) hover:bg-(--third-text-color) rounded-xl fixed top-3 right-3 z-20 flex items-center justify-center">
        <!-- Sun -->
        <svg class="block dark:hidden w-6 h-6 text-(--first-bg-color)"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             fill="currentColor"
             viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=1.5
                  d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>
        </svg>
        <!-- Moon -->
        <svg class="hidden dark:block w-5 h-5 text-(--first-bg-color)"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             fill="currentColor"
             viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=1.5
                  d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"/>
        </svg>
    </button>
    <div id="sidebar"
         class="text-sm font-normal text-(--third-text-color) fixed z-10 flex flex-col justify-between h-screen px-3 py-3 overflow-y-auto bg-(--second-bg-color) border-r border-(--border-color) w-48">
        <div class="h-24">
            <div>
                <div class="h-2"></div>
                <div class="flex items-center ml-1 mr-2">
                    <div class="relative flex-shrink-0 inline-flex items-center justify-center w-8 h-8 overflow-hidden rounded-full bg-(--mid-bg-color)">
                        <span class="font-semibold text-md text-(--third-text-color)">
                           {{ user.first_name|default:''|slice:":1" }}{{ user.last_name|default:''|slice:":1" }}
                        </span>
                    </div>
                    <span class="text-(--first-text-color) text-sm m-2">{{ user.first_name }}</span>
                </div>
                <!-- Divider -->
                <div class="py-5">
                    <hr class="h-px mx-3 bg-(--border-color) border-0 rounded">
                </div>
            </div>
            <ul>
                <!-- Home Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--first-text-color) hover:bg-(--third-bg-color) {% if current_view == 'home' %} bg-(--third-bg-color)"
                       {% else %} " href="{% url 'home' %}" {% endif %} >
                    <svg class="mr-2 w-4 h-4 text-current"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              class="icon-custom-stroke-width"
                              d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
                    </svg>
                    <span>Home</span> </a>
                </li>
                <!-- Assets Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--first-text-color) hover:bg-(--third-bg-color) {% if current_view == 'assets' %} bg-(--third-bg-color)"
                       {% else %} " href="{% url 'assets' %}" {% endif %}>
                    <svg class="mr-2 w-4 h-4 text-current"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              class="icon-custom-stroke-width" d="M10 6.025A7.5 7.5 0 1 0 17.975 14H10V6.025Z"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              class="icon-custom-stroke-width"
                              d="M13.5 3c-.169 0-.334.014-.5.025V11h7.975c.011-.166.025-.331.025-.5A7.5 7.5 0 0 0 13.5 3Z"/>
                    </svg>
                    <span>Assets</span>
                    </a>
                </li>
                <!-- Accounts Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--first-text-color) hover:bg-(--third-bg-color) {% if current_view == 'accounts' %} bg-(--third-bg-color)"
                       {% else %} " href="{% url 'accounts' %}" {% endif %} >
                    <svg class="mr-2 w-4 h-4 text-current"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" class="icon-custom-stroke-width"
                              d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                    <span>Accounts</span> </a>
                </li>
                <!-- Transactions Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--first-text-color) hover:bg-(--third-bg-color) {% if current_view == 'transactions' %} bg-(--third-bg-color)"
                       {% else %} " href="{% url 'transactions' %}" {% endif %}>
                    <svg class="mr-2 w-4 h-4 text-current"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              class="icon-custom-stroke-width" d="M4 16h13M4 16l4-4m-4 4 4 4M20 8H7m13 0-4 4m4-4-4-4"/>
                    </svg>
                    <span>Transactions</span> </a>
                </li>
                <!-- Earnings Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--first-text-color) hover:bg-(--third-bg-color) {% if current_view == 'earnings' %} bg-(--third-bg-color)"
                       {% else %} " href="{% url 'earnings' %}" {% endif %} >
                    <svg class="mr-2 w-4 h-4 text-current"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              class="icon-custom-stroke-width"
                              d="M17 8H5m12 0a1 1 0 0 1 1 1v2.6M17 8l-4-4M5 8a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.6M5 8l4-4 4 4m6 4h-4a2 2 0 1 0 0 4h4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1Z"/>
                    </svg>
                    <span>Earnings</span> </a>
                </li>
                <!-- Expenses Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--disabled-text-color)">
                        <svg class="mr-2 w-4 h-4 text-current"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  class="icon-custom-stroke-width"
                                  d="M3 10h18M6 14h2m3 0h5M3 7v10a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z"/>
                        </svg>
                        <span>Expenses</span> </a>
                </li>
                <!-- Trades Menu Item -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--disabled-text-color)">
                        <svg class="mr-2 w-4 h-4 text-current"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  class="icon-custom-stroke-width"
                                  d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"/>
                        </svg>
                        <span>Trades</span> </a>
                </li>
                <!-- Divider -->
                <div class="py-5">
                    <hr class="h-px mx-3 bg-(--border-color) border-0 rounded">
                </div>
                <!-- Configuration Section -->
                <li>
                    <a class="flex items-center p-2 rounded-md group text-(--disabled-text-color)">
                        <svg class="mr-2 w-4 h-4 text-current"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  class="icon-custom-stroke-width"
                                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                        </svg>
                        <span>Configuration</span> </a>
                </li>
                <li>
                    <a class=" flex items-center p-2 rounded-md group text-(--disabled-text-color)">
                        <svg class="mr-2 w-4 h-4 text-current"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  class="icon-custom-stroke-width"
                                  d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z"/>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  class="icon-custom-stroke-width" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Logo Section -->
        <div class="text-center flex justify-start items-center">
            <div class="w-[65%] mb-1 ml-1">
                <a href="https://visualfol.io" target="_blank">
                    <picture>
                        <img src="{% static 'main/img/logo-white.svg' %}"
                             class="block dark:hidden w-full h-auto"
                             alt="Visualfolio logo">
                        <img src="{% static 'main/img/logo-black.svg' %}"
                             class="hidden dark:block w-full h-auto"
                             alt="Visualfolio logo">
                    </picture>
                </a>
            </div>
            <a href="https://visualfol.io" target="_blank">
                <svg class="w-3 h-3 text-(--third-text-color)" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill="CurrentColor" fill-rule="evenodd"
                          d="M5,2 C5.55228,2 6,2.44772 6,3 C6,3.55228 5.55228,4 5,4 L4,4 L4,12 L12,12 L12,11 C12,10.4477 12.4477,10 13,10 C13.5523,10 14,10.4477 14,11 L14,12 C14,13.1046 13.1046,14 12,14 L4,14 C2.89543,14 2,13.1046 2,12 L2,4 C2,2.89543 2.89543,2 4,2 L5,2 Z M15,1 L15,5.99814453 C15,6.55043453 14.5523,6.99814453 14,6.99814453 C13.4477,6.99814453 13,6.55043453 13,5.99814453 L13,4.41419 L8.71571,8.69846 C8.32519,9.08899 7.69202,9.08899 7.3015,8.69846 C6.91097,8.30794 6.91097,7.67477 7.3015,7.28425 L11.5858,3 L9.99619141,3 C9.44391141,3 8.99619141,2.55228 8.99619141,2 C8.99619141,1.44772 9.44391141,1 9.99619141,1 L15,1 Z"/>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="wrapper flex-grow relative p-8 pl-56">
    <div id="spinner"
         class="fixed inset-0 flex items-center justify-center pl-52">
        <div class="w-6 h-6 border-2 border-(--first-text-color) border-t-transparent border-b-transparent rounded-full animate-spin [animation-duration:500ms]"></div>
    </div>
    <div id="page-content" class="invisible h-full">
        {% block content %}{% endblock %}
    </div>
</div>
<script>
    window.onload = function () {
        // Select all elements whose id starts with "plot-container"
        const plotContainers = document.querySelectorAll('[id^="plot-container"]');

        // For each matching element
        plotContainers.forEach((plotContainer) => {
            if (plotContainer) {
                // Apply resize
                Plotly.Plots.resize(plotContainer.querySelector('.js-plotly-plot'));
            }
        });

        // Hide spinner
        const spinner = document.getElementById('spinner');
        spinner.classList.add('hidden');

        // Make page content visible
        const pageContent = document.getElementById('page-content');
        pageContent.classList.remove('invisible');

        // Delay fade-in of walkthrough elements
        setTimeout(() => {
            const walkthroughElements = document.querySelectorAll('[id^="walkthroughPopup"]');
            walkthroughElements.forEach((element) => {
                element.classList.replace('opacity-0', 'opacity-100');
            });
        }, 1000);

    };
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
       let currentTheme = getCookie('theme');
       const themeToggle = document.getElementById('theme-toggle');
       themeToggle.addEventListener('click', function () {
          // Toggle the theme value
          currentTheme = currentTheme === 'dark' ? 'light' : 'dark';
          setCookie('theme', currentTheme);

          // Reload whole page to update ssr components theme
          location.reload();

          // applyCookieTheme();
       });
    });
</script>
</body>
</html>
