{% extends "main/base.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}
{% load humanize %}
{% load static %}
<h1 class="font-display font-medium text-2xl text-(--first-text-color) mt-4 mb-6">Home</h1>
{% if has_enough_data %}
<div class="flex flex-col space-y-6">
    <div class="flex justify-between items-end">
        <h2 class="hidden lg:block font-medium text-(--first-text-color) -mb-1 mr-6">Streamgraph</h2>
        <div class="flex space-x-6">
            <div class="flex space-x-4 items-end bg-(--second-bg-color) border border-(--border-color) rounded-xl py-3 px-5">
                <div class="text-xs text-end font-medium text-(--third-text-color) mb-1">Liquid assets value:</div>
                <div class="text-(--first-text-color) text-end text-xl tabular-nums font-normal whitespace-nowrap">
                    {{ liquid_asset_value|floatformat:"2"|intcomma }} {{ base_currency }}
                </div>
            </div>
            <div class="flex space-x-4 items-end bg-(--second-bg-color) border border-(--border-color) rounded-xl py-3 px-5">
                <div class="text-xs text-end font-medium text-(--third-text-color) mb-1">Total asset value:</div>
                <div class="text-(--first-text-color) text-end text-xl tabular-nums font-normal whitespace-nowrap">
                    {{ total_asset_value|floatformat:"2"|intcomma }} {{ base_currency }}
                </div>
            </div>
        </div>
    </div>
    <div class="h-[500px] bg-(--second-bg-color) border border-(--border-color) rounded-xl">{{ graph|safe }}</div>
</div>
{% else %}
    {% include "main/components/no_data.html" with message="Add some balance history records to see your assets streamgraph." %}
{% endif %}
<div id="triggerIcon"
     class="fixed bottom-3 right-3 bg-(--first-accent-color) hover:bg-(--second-accent-color) p-1 rounded-full cursor-pointer z-50 flex items-center justify-center">
    <svg class="w-8 h-8 text-white"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         fill="none"
         viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
</div>
<div id="walkthroughPopup"
     class="opacity-0 transition-opacity duration-300 ease-in-out fixed bottom-3 right-16 flex items-end justify-end hidden">
    <div class="h-[21rem] bg-(--second-bg-color) rounded-2xl border-4 border-(--mid-bg-color) p-4 relative">
        <div id="walkthroughContent">

            <div class="flex justify-between items-center space-x-1">
                <div class="flex space-x-0.5 items-center">
                    <svg class="w-5 h-5 text-(--second-text-color)"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h2 class="pl-1 text-(--second-text-color) font-medium">Streamgraph</h2>
                </div>
                <div class="flex h-6 space-x-4 items-center">
                    <span class="text-xs bg-(--third-bg-color) ml-4 py-0.5 px-1 rounded-md font-mono font-semibold text-(--third-text-color)"></span>
                    <button id="nextButton"
                            class="text-mlg bg-(--first-accent-color) hover:bg-(--second-accent-color) rounded-md text-white px-3 py-1 font-medium">
                        Next
                    </button>
                    <button id="closeButton"
                            class="text-mlg bg-(--first-accent-color) hover:bg-(--second-accent-color) rounded-md text-white px-3 py-1 font-medium">
                        Close
                    </button>
                </div>
            </div>
            <div class="flex flex-col w-80 mt-4">
                <div id="walkthroughIcon"
                     class="relative h-44 w-80 mb-4 flex items-center justify-center">
                    <img src="" alt="Icon" class=/ style="filter: grayscale(1);">
                </div>
                <p class="w-full text-(--first-text-color) bg-(--first-bg-color) rounded-lg py-2 px-3 whitespace-normal">
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const popup = document.getElementById("walkthroughPopup");
        const content = document.getElementById("walkthroughContent");
        const iconContainer = document.getElementById("walkthroughIcon");
        const nextButton = document.getElementById("nextButton");
        const closeButton = document.getElementById("closeButton");

        let currentPage = 0;
        const darkThemeIcons = [
            "{% static 'main/img/dark_walkthrough_1.svg' %}",
            "{% static 'main/img/dark_walkthrough_2.svg' %}",
            "{% static 'main/img/dark_walkthrough_3.svg' %}"
        ];
        const lightThemeIcons = [
            "{% static 'main/img/light_walkthrough_1.svg' %}",
            "{% static 'main/img/light_walkthrough_2.svg' %}",
            "{% static 'main/img/light_walkthrough_3.svg' %}"
        ];
        const pages = [
        { text: "The Home page <span class='font-bold'>Streamgraph</span> is a specialized visualization designed to display total asset value over time, <span class='font-bold'>visually isolating fluctations due to earnings/expenses</span> from <span class='font-bold'>fluctations due to changes in asset value</span>."},
        { text: "The <span class='font-bold'>top boundary</span> reflects<br> <span class='font-bold'>transactions</span>." },
        { text: "The <span class='font-bold'>bottom boundary</span> reflects<br><span class='font-bold'>investment profit or loss</span>." },
        { text: "The <span class='font-bold'>thickness</span> of the stream<br>reflects <span class='font-bold'>total asset value</span>." },
        ];

        const isDarkTheme = () => {
            return document.documentElement.classList.contains('dark');
        };

        const getThemeIcons = () => {
            return isDarkTheme() ? darkThemeIcons : lightThemeIcons;
        };

        const showPopup = () => {
            popup.classList.remove("hidden");
        };

        const hidePopup = () => {
            popup.classList.add("hidden");
        };

        const triggerIcon = document.getElementById("triggerIcon");
        triggerIcon.addEventListener("click", () => {
            currentPage = 0;
            showPopup();
            updateContent();
        });

        const updateContent = () => {
            const page = pages[currentPage];
            const themeIcons = getThemeIcons();
        
            if (currentPage === 0) {
                iconContainer.style.display = "none";
            } else {
                iconContainer.style.display = "flex";
                const imgElement = iconContainer.querySelector("img");
                imgElement.src = themeIcons[currentPage - 1];
                imgElement.alt = `Icon ${currentPage - 1}`;
            }
        
            content.querySelector("p").innerHTML = page.text;
            content.querySelector("span").innerHTML = `[${currentPage + 1}/4]`;
        
            nextButton.classList.toggle("hidden", currentPage === pages.length - 1);
            closeButton.classList.toggle("hidden", currentPage !== pages.length - 1);
        };

        nextButton.addEventListener("click", () => {
            if (currentPage < pages.length - 1) {
                currentPage++;
                updateContent();
            }
        });

        closeButton.addEventListener("click", () => {
            hidePopup();
            sessionStorage.setItem("walkthroughSeen", "true");
        });

        if (!sessionStorage.getItem("walkthroughSeen")) {
            showPopup();
            updateContent();
        }
    });
</script>
{% endblock content %}
